[Desktop Entry]
Name=KeePassX 2
GenericName=Password Manager
GenericName[fr]=Gestionnaire de mot de passe
Exec=keepassx2 %f
Icon=keepassx2
Terminal=false
Type=Application
Categories=Qt;Utility;
MimeType=application/x-keepass2;
X-XFCE-Source=file:///usr/share/applications/keepassx2.desktop
