[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[2016-04-02-20-18-02-00]
row=0
col=0

[8E98813E98812635]
row=1
col=0

[901E7DFC1E7DDBA2]
row=2
col=0

[Corbeille]
row=3
col=0

[/]
row=4
col=0

[/home/antidote]
row=5
col=0

